
body {
  /* background-image: url("./img/endless-constellation.png"); */
  width: 50%;
  margin: 0 auto;
}

header {
  text-align: center;
}

header h1 {
  font-size: 100px;
  color: #3a7313;
  font-weight: 150;
}

.input{
  font-size: 20px;
  color: #3a7313;  
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 2px solid #9126d9;
  padding: 5px;
}

